<nav class="bg-[#E5B3B3] shadow-sm">
    <div class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16">
            <div class="flex-shrink-0 flex items-center">
                <img class="h-8 w-auto" src="{{ url_for('static', filename='logo.png') }}" alt="Logo"/>
            </div>
            <div class="flex items-center space-x-4">
                <a href="{{ url_for('restaurant_dashboard') }}" class="rounded-button px-4 py-2 text-sm font-medium text-white {% if request.endpoint == 'restaurant_dashboard' %}bg-custom/90{% else %}bg-custom hover:bg-custom/90{% endif %}">Dashboard</a>
                <a href="{{ url_for('restaurant_additem') }}" class="rounded-button px-4 py-2 text-sm font-medium text-white {% if request.endpoint == 'restaurant_additem' %}bg-custom/90{% else %}bg-custom hover:bg-custom/90{% endif %}">Add Items</a>
                <a href="{{ url_for('restaurant_orders') }}" class="rounded-button px-4 py-2 text-sm font-medium text-white {% if request.endpoint == 'restaurant_orders' %}bg-custom/90{% else %}bg-custom hover:bg-custom/90{% endif %}">Orders</a>
                <a href="{{ url_for('restaurant_review') }}" class="rounded-button px-4 py-2 text-sm font-medium text-white {% if request.endpoint == 'restaurant_review' %}bg-custom/90{% else %}bg-custom hover:bg-custom/90{% endif %}">Reviews</a>
                <a href="{{ url_for('restaurant_settings') }}" class="rounded-button px-4 py-2 text-sm font-medium text-white {% if request.endpoint == 'restaurant_settings' %}bg-custom/90{% else %}bg-custom hover:bg-custom/90{% endif %}">Settings</a>
                <a href="{{ url_for('logout') }}" class="rounded-button px-4 py-2 text-sm font-medium text-white bg-red-600 hover:bg-red-700">Logout</a>
            </div>
        </div>
    </div>
</nav>